body {
    padding-top: 80px;
}

input {
    display: inline-block;
    margin-left: 10px;
}

header {
    background: #eee;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 10;
}
